{% extends 'base.html' %}
{% block title %}Trò chơi — Lời Triệu Hồn{% endblock %}

{% block header_title %}
  <h1 class="title">Trò chơi</h1>
  <p class="subtitle">Các thử thách chính trong sự kiện</p>
{% endblock %}

{% block content %}
  <section class="card">
    <h2>Thông tin sự kiện</h2>
    <ul>
      <li><strong>Số lượng đội:</strong> 4 đội</li>
      <li><strong>Số lượng thành viên mỗi đội:</strong> 6–7 người</li>
      <li><strong>Thời gian diễn ra:</strong> 120-150 phút (chỉ dành cho trò chơi)</li>
    </ul>
  </section>
  <section class="card game-card">
    <div class="game-header">
      <h2>🔥 Trò 1 — Giữ lửa cô hồn</h2>
    </div>
    <p><strong>Mục đích:</strong> Giữ cho ngọn lửa linh hồn không bị tắt khi đi qua "Cánh cổng âm".</p>
    {{ game1|safe }}
  </section>

  <section class="card game-card">
    <div class="game-header">
      <h2>🔥 Trò 2 — Người dẫn lễ trong sương</h2>
    </div>
    <p><strong>Mục đích:</strong> Kiểm tra khả năng phối hợp và tin tưởng giữa các thành viên trong môi trường nhiễu âm.</p>
    
    {{ game2|safe }}
  </section>

  <section class="card game-card">
    <div class="game-header">
      <h2>🔥 Trò 3 — Gọi hồn </h2>
    </div>
    <p><strong>Mục đích:</strong> Thử thách trí nhớ và khả năng truyền đạt thông tin – tượng trưng cho việc "truyền sai chú thì hồn nhập nhầm".</p>

    {{ game3|safe }}
  </section>

  <section class="card game-card">
    <div class="game-header">
      <h2>🗝️ Trò 4 — Giải mật thư nhận công cụ</h2>
    </div>
    <p><strong>Mục đích:</strong> Giải mã ký hiệu và ghép hình để lấy công cụ.</p>
    
    {{ game4|safe }}
  </section>

  <section class="card game-card">
    <div class="game-header">
      <h2>🔥 Trò 5 — Đố anh bắt được em</h2>
    </div>
    <p><strong>Mục đích:</strong> Tăng tính kịch tính và thử thách sự nhanh nhẹn, phối hợp của đội trong việc thu thập hiện vật để phá lời nguyền.</p>
    
    {{ game5|safe }}
    
  </section>
{% endblock %}
